<div class="contianer-fluid remote-host-card">
  <div class="row">
    <div class="col-xs-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <a [routerLink]="['/remote', remote.id]">{{remote.name}}</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p>added {{remote.modified_at | date : 'MMM dd yyyy'}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="pull-right vertical-center">
        <div>
          <button class="btn btn-danger" (click)="delete()">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
