.activity-card {
  margin: 5px;
  padding: 5px;
  border: solid 1px #DFDFDF;
  border-radius: 4px;
}

.activity-card-body {
  margin-left: 10px;
}

.activity-card-body img {
  max-width: 32px;
  padding: 2px;
}

.activity-card-main .badge {
  background-color: #0069d9;
  border-color: #0062cc;
}

.activity-card-time > .close,
.activity-card-time > p {
  text-align: right;
}

.activity-card-time > .label {
  background-color: green;
  float: right;
}

.activity-card-merged {
  border-color: #6f42c1;
  background-color: #F5EFFF;
}

.activity-card-merged .activity-card-time > .label {
  background-color: #6f42c1;
}

.activity-card-closed {
  border-color: #E80000;
  background-color: #FFF4F4;
}

.activity-card-closed .activity-card-time > .label {
  background-color: #E80000;
}

.owner-name {
  display: block;
  text-align: center;
}

.activity-card-target-repo {
  margin-top: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: solid 1px #DFDFDF;
}
