<div class="container-fluid activity-card"
     *ngIf="!activity.isDeleted"
     [ngClass]="{'activity-card-closed': activity.pr.state==1, 'activity-card-merged': activity.pr.state==2}">
  <div class="row">
    <div class="hidden-xs col-sm-2 col-lg-1 activity-card-thumbnail">
      <a href="{{activity.pr.owner.url}}" target=”_blank”>
        <img src="{{activity.pr.owner.image}}" class="img-fluid img-thumbnail" />
        <strong class="owner-name">{{activity.pr.owner.name}}</strong>
      </a>
    </div>
    <div class="col-xs-10 col-sm-8 col-lg-9 activity-card-main">
      <div>
        <a href="{{activity.pr.url}}" target=”_blank” class="pr-link">
            <span class="activity-card-title">{{activity.pr.title}}</span>
        </a>
      </div>
      <div class="activity-card-body">
        <div *ngFor="let a of activity.activities">
          <a href="{{a.actor.url}}" target=”_blank”>
            <img src="{{a.actor.image}}" class="img-fluid img-thumbnail" />
          </a>
          <a href="{{a.actor.url}}" target=”_blank”>
            <strong>{{a.actor.name}}</strong>
          </a>
          {{a.action}}
          <span class="badge" *ngIf='!a.read'>New</span>
        </div>
      </div>
    </div>
    <div class="col-xs-2 activity-card-time">
      <div class="clearfix">
        <button class="close" (click)="clearActivity()" aria-label="close">&times;</button>
      </div>
      <p>
        <time title="{{activity.lastActivity.created_at | date : 'MMM dd yyyy HH:mm:ss'}}">{{activity.lastActivity.created_at | amTimeAgo}}</time>
      </p>
      <span class="label label-default">{{activity.pr.stateText}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="activity-card-target-repo">
        <small>
          This PR targets
          <a href="{{activity.repo.url}}" target="_blank">
            {{activity.repo.name}}
          </a>
        </small>
      </div>
    </div>
  </div>
</div>
