#site-title > a {
  color: #FFFFFF;
}

#site-title > a:hover {
  text-decoration: none;
}

#header {
  border-radius: 0px;
  background-color: #242729;
}

.navbar-text {
  margin-top: 0;
}

.fa-bars {
  color: #9d9d9d;
  font-size: 2em;
}
