<i id="top-of-page"></i>
<nav id="header" class="navbar navbar-inverse fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-menu-collapse">
        <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
      </button>
      <h1 id="site-title"><a routerLink="/">PR-View</a></h1>
    </div>
    <div id="navigation-menu-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right fa-ul">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/remote">Remote Hosts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
