<section>
    <div *ngIf="error" class="alert alert-danger alert-dismissable center-block">
      <button class="close" (click)="clearError()" aria-label="close">&times;</button>
      <strong>Error:</strong> {{error}}.
    </div>
    <div class="center-block">
      <form #f="ngForm" (ngSubmit)="submit()" novalidate>
        <fieldset>
          <div [hidden]="isEdit" class="form-group row" [ngClass]="{'has-error': hostName.errors && (hostName.dirty || hostName.touched)}">
            <label for="hostName" class="col-sm-2 col-form-label">Host Name</label>
            <div class="col-sm-10">
              <input name="hostName" type="text" class="form-control" placeholder="Give me a unique name to call your remote host"
                [(ngModel)]="remoteHost.name" #hostName="ngModel"
                required />

              <div *ngIf="hostName.errors && (hostName.dirty || hostName.touched)" class="alert alert-danger fade in">
                  I need a unique name for your remote host
              </div>
            </div>
          </div>

          <div [hidden]="!isEdit" class="form-group row" [ngClass]="{'has-error': hostName.errors && (hostName.dirty || hostName.touched)}">
            <label for="hostName" class="col-sm-2 col-form-label">Host Name</label>
            <div class="col-sm-10">
              <input name="hostName" type="text" class="form-control" placeholder="Give me a unique name to call your remote host"
                [(ngModel)]="remoteHost.name" #hostName="ngModel"
                readonly />
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': hostUrl.errors && (hostUrl.dirty || hostUrl.touched)}">
            <label for="hostUrl" class="col-sm-2 col-form-label">Host URL</label>
            <div class="col-sm-10">
              <input name="hostUrl" type="text" class="form-control" placeholder="What's the URL to your remote host? i.e. https://github.com"
                [(ngModel)]="remoteHost.url" #hostUrl="ngModel"
                required />

              <div *ngIf="hostUrl.errors && (hostUrl.dirty || hostUrl.touched)" class="alert alert-danger fade in">
                  A URL to your remote host is required
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': username.errors && (username.dirty || username.touched)}">
            <label for="username" class="col-sm-2 col-form-label">Your Username</label>
            <div class="col-sm-10">
              <input name="username" type="text" class="form-control" placeholder="What's the user name you use to log into your host?"
                [(ngModel)]="remoteHost.username" #username="ngModel"
                required />

              <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger fade in">
                  We need to know your user name so we can log into your host
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': token.errors && (token.dirty || token.touched)}">
            <label for="token" class="col-sm-2 col-form-label">Your Personal Access Token</label>
            <div class="col-sm-10">
              <input name="token" type="password" class="form-control" placeholder="What's the personal access token you want us to use to log into the host?"
                [(ngModel)]="remoteHost.token" #token="ngModel"
                required />

              <div *ngIf="token.errors && (token.dirty || token.touched)" class="alert alert-danger fade in">
                  We need to know your personal access token so we can log into your host
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Save</button>
        </fieldset>
      </form>
    </div>
  </section>
