<section>
    <div *ngIf="error" class="alert alert-danger alert-dismissable center-block">
      <button class="close" (click)="clearError()" aria-label="close">&times;</button>
      <strong>Error:</strong> {{error}}.
    </div>
    <div class="center-block">
      <form #f="ngForm" (ngSubmit)="submit()" novalidate>
        <fieldset>
          <div [hidden]="isEdit" class="form-group form-inline" [ngClass]="{'has-error': hostName.errors && (hostName.dirty || hostName.touched)}">
            <label>Host Name</label>
            <input name="hostName" type="text" class="form-control" placeholder="Give me a unique name to call your remote host"
              [(ngModel)]="remoteHost.name" #hostName="ngModel"
              required />

            <div *ngIf="hostName.errors && (hostName.dirty || hostName.touched)" class="alert alert-danger fade in">
                I need a unique name for your remote host
            </div>
          </div>

          <div [hidden]="!isEdit" class="form-group form-inline" [ngClass]="{'has-error': hostName.errors && (hostName.dirty || hostName.touched)}">
            <label>Host Name</label>
            <input name="hostName" type="text" class="form-control" placeholder="Give me a unique name to call your remote host"
              [(ngModel)]="remoteHost.name" #hostName="ngModel"
              readonly />
          </div>

          <div class="form-group form-inline" [ngClass]="{'has-error': hostUrl.errors && (hostUrl.dirty || hostUrl.touched)}">
            <label>Host URL</label>
            <input name="hostUrl" type="text" class="form-control" placeholder="What's the URL to your remote host?"
              [(ngModel)]="remoteHost.url" #hostUrl="ngModel"
              required />

            <div *ngIf="hostUrl.errors && (hostUrl.dirty || hostUrl.touched)" class="alert alert-danger fade in">
                A URL to your remote host is required
            </div>
          </div>

          <div class="form-group form-inline" [ngClass]="{'has-error': username.errors && (username.dirty || username.touched)}">
            <label>Your Username</label>
            <input name="username" type="text" class="form-control" placeholder="What's the user name you use to log into your host?"
              [(ngModel)]="remoteHost.username" #username="ngModel"
              required />

            <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger fade in">
                We need to know your user name so we can log into your host
            </div>
          </div>

          <div class="form-group form-inline" [ngClass]="{'has-error': token.errors && (token.dirty || token.touched)}">
            <label>Your Personal Access Token</label>
            <input name="token" type="text" class="form-control" placeholder="What's the personal access token you want us to use to log into the host?"
              [(ngModel)]="remoteHost.token" #token="ngModel"
              required />

            <div *ngIf="token.errors && (token.dirty || token.touched)" class="alert alert-danger fade in">
                We need to know your personal access token so we can log into your host
            </div>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Save</button>
        </fieldset>
      </form>
    </div>
  </section>